footer {
    border-top: solid white 1px;
    height: 110px;
    color: black;
}

.footer_interface {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12%;
    background-color: var(--footer);
}

.icons-footer {
    display: flex;
    align-items: center; 
    gap: 20px;
}

.name-title h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-primary);
}

.name-title p {
    font-size: 14px;
    color: var(--text-primary);
}

.copyright {
    padding-right: 8%;
}

.copyright p {
    font-size: 14px;
    color: var(--text-primary);
    text-align: center;
}

.icons-footer svg {
    width: 26px;
    height: 26px;
    fill: var(--contact-icons2);
}

.icons-circle {
    background-color: var(--contact-icons);
    box-shadow: inset 0 0 10px var(--shadow-skills);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.3s;
}

.icons-circle:hover {
    box-shadow: 0 0 12px rgba(82, 128, 214, 0.7);
    transform: scale(1.05);
}


/* ########################################################################################################### */
/* HEADER RESPONSIVO */
/* ########################################################################################################### */

@media screen and (max-width: 950px) {
    .footer_interface {
        gap: 10%;
    }
    .copyright {
        padding-right: 15%;
    }
    .copyright p {
        font-size: 12px;
    }
    .name-title h3 {
        font-size: 16px;
    }
    .name-title p {
        font-size: 12px;
    }
    .name-title {
        padding-left: 5%;
    }
}

@media screen and (max-width: 870px) {
    .footer_interface {
        gap: 8%;
    }
    .copyright {
        padding-right: 12%;
    }
}

@media screen and (max-width: 780px) {
    footer {
        height: 250px;
    }
    .footer_interface {
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-self: center;
    }
    .name-title {
        text-align: center;
        padding-left: 0%;
    }
    .copyright {
        padding-right: 0%;
    }
}