/* ########################################################################################################### */
/* GERAL */
/* ########################################################################################################### */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-display: swap
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

section {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  padding-top: 90px; 
  background-color: white;
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: var(--scrollbar); 
}

::-webkit-scrollbar-thumb {
  background: #446cbc; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #6d9af0; 
}