@import url(header.css);
@import url(geral.css);
@import url(homepage.css);
@import url(variable.css);
@import url(skills.css);
@import url(projects.css);
@import url(contacts.css);
@import url(footer.css);