.skills {
    padding: 0;
    background-color: var(--skills-page);
}

.feature-box {
    background-color: var(--skills-box);
    box-shadow: inset 0 0 10px var(--shadow-skills);
    width: 70%;
    border-radius: 20px;
    height: 100px;
    display: flex;
    flex-direction: column; 
    justify-self: center;
    align-items: center;   
    justify-content: center; 
    text-align: center;
    margin-top: 8%;
    margin-bottom: 5%;
}

.feature-box h2 {
    color: var(--text-primary);
    font-size: 34px;
}

.feature-box p {
    color: var(--text-primary);
    font-size: 16px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, auto); 
    justify-content: center; 
    row-gap: 40px;
    column-gap: 5%; 
    width: 100%;
    margin-bottom: 5%;
}

.skills-container img {
    width: 77px;
    height: 80px;
    padding-top: 15px;
    border-radius: 10px;
}

.skills-item {
    background-color: var(--skills-box);
    box-shadow: inset 0 0 10px var(--shadow-skills);
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: ease 0.3s;
}

.skills-item p {
    font-size: 18px;
    padding-top: 10%;
    font-weight: 500;
    color: var(--text-primary);
}

.skills-item:hover {
    transform: scale(1.07);
    box-shadow: 0 0 25px 3px rgba(82, 128, 214, 0.7);
}


/* ########################################################################################################### */
/* SKILLS RESPONSIVO */
/* ########################################################################################################### */

@media screen and (max-width: 1100px) {
    .feature-box h2 {
        font-size: 30px;
    }
    .feature-box {
        width: 75%;
    }
}

@media screen and (max-width: 760px) {
    .feature-box {
        width: 80%;
        height: 120px;
    }
    .skills-container {
        grid-template-columns: repeat(2, auto); 
    }
}

@media screen and (max-width: 500px) {
    .feature-box {
        width: 85%;
        height: 130px;
    }
    .feature-box h2 {
        font-size: 28px;
    }
    .feature-box p {
        font-size: 14px;
    }
    .skills-item {
        width: 130px;
        height: 130px;
    }
    .skills-container img {
        width:69px;
        height: 72px;
    }
    .skills-item p {
        font-size: 16px;
    }
    .skills-container {
       margin-bottom: 15%;
    }
}